<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lotería Mexicana</title>
    <link rel="stylesheet" href="{{url_for('static',filname='style.css')}}">
    <style>/* estilo para definir las columnas dinamicas */
        .board-container {
            grid-template-columns: repeat({{columns}}, 1fr);
        }
    </style>
</head>
<body>
    <div class="board-container">
        {% for filas in tablero %}
            {% for velda in filas %}
                <div class="card-cell" style="background-color: {{celda.color}};"></div>
            {% endfor %}
        {% endfor %}
    </div>
</body>
</html>